/* Write your code here. */
.coffee-planner-question-title-container {
  width: 100%;
  margin: 10px;
}

.coffee-planner-question-title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.coffee-planner-question-option-list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
