/* Write your code here. */
.coffee-planner-question-option-list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.coffee-planner-question-option-list-item {
  background-color: #f4f1ea;
  border: none;
  border-radius: 10px;
  width: 100%;
  flex-grow: 1;
  height: 200px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .coffee-planner-question-option-list-item {
    width: 30%;
  }
}

.coffee-planner-question-option-list-item-selected {
  background-color: #0e8684;
  border: none;
  border-radius: 10px;
  width: 100%;
  flex-grow: 1;
  height: 200px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .coffee-planner-question-option-list-item-selected {
    width: 30%;
  }
}

.coffee-planner-question-option-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee-planner-question-option-title {
  color: #2e353d;
  font-family: 'Roboto';
  font-size: 25px;
}

.coffee-planner-question-option-title-selected {
  color: #f4f1ea;
  font-family: 'Roboto';
  font-size: 25px;
}

.coffee-planner-question-option-cup-image {
  height: 30px;
  width: 30px;
}

.coffee-planner-question-option-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}

.coffee-planner-question-option-description-selected {
  color: #f4f1ea;
  font-family: 'Roboto';
  font-size: 15px;
}
